@media screen and (min-width: 768px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 20px;
  }
  .courses-container {
    grid-template-columns: 300px auto;
    border: 1px solid #e4e4e4;
    border-top: none;
  }
  .courses {
    border-right: none;
    border-left: none;
  }
  .course-tab-container {
    max-width: 300px;
  }
  .course-detail-container-small {
    display: none;
  }
  .course-detail-container-large {
    display: none;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    padding: 10px 15px;
    border: 1px solid #D4D4D6;
    border-bottom: none;
    border-right: none;
  }
  .course-detail-container-heading-large {
    grid-column: span 2;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
  }
  .course-detail-container-large.active {
    display: grid;
  }
  .notes-wrapper {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
  }
  .features-wrapper {
    display: block;
  }
  .faq-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  .faq-container {
    max-height: 50px;
  }
}